h1 Password-protected area
p This page is accessible with a valid password only.
label( for="pw" ) Password:
#submitbtn
    input( id="pw" name="password" type="password" )
    button( id="submitfake" ) Log in
p#wrong-pw( style="color:red" ).hidden Wrong password!