footer#footer
  p Dies ist eine Seite von Teilnehmern des DGP für Schüler und Schülerinnen
  .impressum
      h3 Impressum
      p Ein Projekt des DGPS Team: Exhymn Studio<br />Verantwortlich:<br />Kontakt: