extends ../layout.pug 

block append head 
  title ExHymn Studio

block content
  #main
    include ../sections/idea
    include ../sections/about
  #dgpslock.hidden
    include ../includes/dgpslock

