include ../mixins/flipCard

section#about
    .content-block
        h1 Über uns
        p Wir sind ExHymn Studio eine Genossenschaft, welche aus vier Schülern des Beruflichen Gymnasiums der BSK Bad Oldesloe besteht. Wir sind zudem alle Teil der LGBTQ+ Community und generell ist Akzeptanz und Vielfalt sehr wichtig, da dies noch immer ein ziemlich großes Thema in der Branche und Deutschland im Allgemeinen ist.
    .cards
        +card(
            "Robin",
            "https://cdn.discordapp.com/avatars/233286691744514069/de1bf6d6717750144500f8d3bb3a9d6b.png",
            "Robins Discord Profilbild",
            "Robin ist 23 Jahre alt und kommt aus Bad Oldesloe. In unserem Unternehmen ist er fürs Game Design zuständig, hilft durch sein künstlerisches Talent aber auch als Artist für Characterdesigns  aus."
        )
        +card(
            "Maxim",
            "https://cdn.discordapp.com/avatars/576666905926959125/af1650a3e6825f7d53c19c190b060f40.png",
            "Maxims Discord Profilbild",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        )
        +card(
            "Paul",
            "https://cdn.discordapp.com/avatars/409316079744188426/6878de02a1ad83b7beffeb2ca5bf667e.png",
            "Pauls Discord Profilbild",
            "Paul ist 19 Jahre alt und kommt aus Bad Oldesloe. Er ist zuständig für das Art-design und die Spielgeschichte, und macht die Artworks im Spiel."
        )
        +card(
            "Thomas",
            "https://cdn.discordapp.com/avatars/266187155406192640/25bfac085f48766bfae191abe3575c9a.png",
            "Thomas' Discord Profilbild",
            "Thomas kommt aus Bad Oldesloe und ist 17 Jahre alt. Er ist in unserem Unternehmen für Webentwicklung und Design zuständig."
        )
