section#idea
    .content-block
        h1 Die Idee
        p.
            Ein 2D OpenWorld Monster Catch&Fight Game, welches im Mittelalterlichen Europa
            stattfindet. Die Monster sind Kreaturen aus den Mythen und Sagen aus ganz Europa.
            Dies beinhaltet so zum Beispiel Kreaturen der nordischen oder irischen Folklore.
            Der Protagonist eine Fantasiewelt basierend auf Europa und fängt die
            verschiedensten Kreaturen und kämpft gegen andere Monsterfänger.
            Wie bereits erwähnt wird diese noch Namenlose Welt von den verschiedensten
            Kreaturen der Mythen und Sagen Europas beheimaten, darunter sind z.B. die Yule
            Zwillinge, welche die Vorboten des Yule festes sind oder auch der Spriggan, welcher
            dafür bekannt ist ein Räuber oder Dieb zu sein und Menschenkinder mit
            sogenannten „Wechselbälgern“ zu tauschen.
            Der Namenlose und zu diesem Zeitpunkt noch Geschlechtslose Protagonist macht
            sich dann auf den Weg, um die verschiedensten Kreaturen zu fangen und zu
            bekämpfen, aber auch um einige Prüfungen, welche ihm auf dem Weg gestellt
            werden zu meistern. Dafür reist dieser durch eine große, OpenWorld ähnliche Welt,
            welche an das mittelalterliche Europa basiert. So kann man also in den west
            europäisch basierten Teilen Kreaturen aus der walisischen oder schottischen
            Mythologie finden, in dem mitteleuropäischen Teil Kreaturen aus der z.B. der
            deutschen Mythologie, im Norden gibt es dann Wesen aus der dänischen oder
            finnischen Saga und im osteuropäisch angehauchten Teil dann Wesen aus der
            polnischen oder auch albanischen Mythologie.
            Unser Catch&Fight Game soll bekannte Elemente aus Pokémon und The Legend of
            Zelda miteinander vereinen um eine neue, aber dennoch bekannte Spielerfahrung zu
            schaffen. Dies soll sowohl neue oder Casual als auch erfahrene Spieler zu dem
            Spiel bewegen, da wir durch ein ausgefeiltes Kampfsystem auch die die eher
            Kompetitive Spieler anregen wollen, das Spiel nicht nach ein paar Tagen wieder
            niederzulegen.
            Außerdem ist geplant, dass man den Schwierigkeitsgrad selbst einstellen kann,
            damit das Spiel genauso gespielt werden kann, wie man es am liebsten möchte.