doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block scripts
    block styles
      link(rel="stylesheet", href="../sass/app.sass")
      // Reset
      link( 
        rel="stylesheet" 
        href="https://unpkg.com/modern-css-reset/dist/reset.min.css" 
      )
  body
    block header
      include includes/header
    block nav
      include includes/nav
    block content
      include sections/idea
      include sections/about
  block footer
      include includes/footer
